@import "root.css";

.page-title{
    text-align: center;
}

.page{
    background-color: var(--main);
    box-shadow: var(--shadow);
    text-align: left;

    border-radius: 10px;
    margin: 40px auto;
    padding: 40px;
    width: 600px;
}

.section {
    padding: 10px 30px;
    border-bottom: 0.2px dashed var(--color);
}

.important{
    color: var(--btn-color);
    font-weight: bold;
}

.input{
    width: 100%;
}
.function{
    width: 50%;
    text-align: center;
}
