@import "root.css";

body{
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);

    margin: 30px;
}

h2{
    font-family: var(--main-font);
    color: var(--btn-color);
    text-shadow: var(--shadow);

    text-align: center;
    font-size: 28px;
}

h3{
    font-family: var(--main-font);
    color: var(--btn-color);
    margin: 5px 0;
    font-size: 20px;
}

h4{
    color: var(--color);
    font-size: 32px;
    margin: 0 0 30px 0;
}

p{
    margin: 0;
}

/* footer css */
.footer{
    font-family: var(--font);
    color: var(--color);
    text-align: center;
    display: block;
}
